.pageContainer {
  padding: 110px 0px 40px 0px;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.header {
  width: 1104px;
  margin: 0px auto 30px auto;
}

.header a {
  color: #b9bdcc;
  text-decoration: underline;
}

.headerMaintext {
  color: white;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
}

.headerSubtext {
  color: #b9bdcc;
  font-size: 14px;
  margin: 0px;
}

.filterContainer {
  width: 1104px;
  margin: auto;
}

.filterContainer {
  width: 1104px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "season pass"
    "category category"
    "search search";
  column-gap: 15px;
  row-gap: 15px;
}

.season {
  grid-area: season;
}

.seasonAutoComplete {
  border-radius: 0;
}

.seasonTextField {
  z-index: 9;
  background-color: #191a26;
  width: 220px;
  height: 60px;
  position: absolute;
  left: 5;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.65);
  clip-path: inset(-15px -10px 0px -15px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.seasonPopperArrowUp {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #323448;
  margin-left: 40px;
  z-index: 2;
}

.seasonPaper {
  background: #191a26;
  margin-top: 60px;
  width: 220px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
  clip-path: inset(0px -15px -20px -15px);
}

.seasonClearIcon {
  width: 16px;
  margin-top: -1px;
}

.pass {
  grid-area: pass;
}

.passAutoComplete {
  position: relative;
  border-radius: 0;
}

.passTextField {
  z-index: 9;
  background-color: #191a26;
  width: 220px;
  height: 60px;
  position: absolute;
  left: 5;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.65);
  clip-path: inset(-15px -10px 0px -15px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.passPopperArrowUp {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #323448;
  margin-left: 40px;
}

.passPaper {
  background: #191a26;
  margin-top: 60px;
  width: 220px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
  clip-path: inset(0px -15px -20px -15px);
}

.passDownIcon {
  margin-top: -2px;
}

.passClearIcon {
  width: 16px;
  margin-top: -2px;
}

.category {
  grid-area: category;
  border-bottom: 1px solid #222531;
}

.categoryBtnGroup {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-verflow-style: none;
  scrollbar-width: none;
  border-radius: 0;
  column-gap: 25px;
}

.categoryBtnGroup::-webkit-scrollbar {
  display: none;
}

.category .categoryBtnGroup > button {
  padding: 16px 0px 16px 4px;
  margin-bottom: 4px;
  white-space: nowrap;
}

.search {
  grid-area: search;
}

.table {
  width: 1104px;
  margin: 15px auto 0px auto;
}

.tablePinnedCell {
  padding: 10px;
  height: 54px;
  background-color: #17171a;
  color: #666b7c;
  text-align: center;
}

.tableCell {
  padding: 10px;
  height: 54px;
  background-color: #17171a;
  color: white;
}

.nameHeader {
  padding-left: 15px;
}

.mintedHeader {
  padding-right: 0px;
  padding-left: 80px;
}

.burnedHeader {
  padding-right: 0px;
  padding-left: 65px;
}

.mintDateHeader {
  padding-right: 0px;
  padding-left: 90px;
}

.mintPriceHeader {
  padding-right: 0px;
  padding-left: 70px;
}

.seasonHeader {
  text-align: center;
}

.accessoryResult {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #222531;
  border-bottom: 1px solid #222531;
}

.legendContainer {
  color: white;
  font-size: 14px;
  padding: 10px 0px;
  border-top: 1px solid #222531;
}

.legendContainer > div:nth-of-type(1) {
  margin-right: 30px;
  display: inline-block;
}

.legendContainer > div:nth-of-type(2) {
  display: inline-block;
}

.mintingIconLegend {
  display: inline-block;
  margin-right: 8px;
}

.mintingIconLegend svg {
  font-size: 12px;
  color: #16cb69;
  margin-bottom: -1px;
}

.functionalIconLegend {
  display: inline-block;
  margin-right: 6px;
}

.functionalIconLegend svg {
  font-size: 15px;
  margin-bottom: -3px;
  color: #fac213;
}

.accessoryName {
  color: white;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mintingIcon {
  display: inline-block;
}

.mintingIcon svg {
  font-size: 10px;
  color: #16cb69;
}

.functionalIcon {
  display: inline-block;
  margin-right: 2px;
}

.functionalIcon svg {
  font-size: 13px;
  margin-bottom: -2px;
  margin-left: -3px;
  color: #fac213;
}

.accessoryTag {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media screen and (max-width: 1300px) {
  .header {
    width: 919px;
  }

  .filterContainer {
    width: 919px;
  }

  .table {
    width: 919px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 709px;
  }

  .filterContainer {
    width: 709px;
  }

  .table {
    width: 709px;
  }
}

@media screen and (max-width: 780px) {
  .header {
    width: 529px;
  }

  .filterContainer {
    width: 529px;
  }

  .table {
    width: 529px;
  }
}

@media screen and (max-width: 620px) {
  .pageContainer {
    padding: 95px 0px 15px 0px;
  }

  .header {
    width: 316px;
  }

  .filterContainer {
    width: 317px;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    grid-template-areas:
      "season pass"
      "category category"
      "search search";
  }

  .filterContainer > div > button {
    width: 151px;
    grid-template-columns: 101px 22px;
  }

  .filterContainer > div > button > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .season {
    grid-area: season;
  }

  .pass {
    grid-area: pass;
  }

  .passPopperArrowUp {
    margin-left: 100px;
  }

  .passDownIcon {
    margin-top: 0px;
  }

  .passClearIcon {
    margin-top: 0px;
  }

  .passPaper {
    margin-left: -68px;
  }

  .passAutoComplete {
    right: 68px;
  }

  .search {
    grid-area: search;
  }

  .table {
    width: 317px;
  }
}
