.navContainer {
  width: 1104px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.navContainer > div:nth-of-type(2) {
  margin-left: 110px;
  margin-top: 2px;
}

.navContainer > div:nth-of-type(2) > a {
  margin-right: 12px;
}

.navbar > nav:nth-of-type(1) {
  background-color: #17171a;
  box-shadow: none;
  border-bottom: 1px solid #222531;
  display: flex;
}

.drawerContainer {
  color: white;
  padding: 0;
}

.drawerContainer > h6 {
  padding: 10px 18px 8px 18px;
  display: grid;
  grid-template-columns: 40px 126px;
  column-gap: 20px;
  height: 56px;
  background-color: #17171a;
  border-bottom: 1px solid #222531;
}

.drawerContainer > h6 > button {
  padding: 4px 0px 5px 0px;
  margin-left: 0px;
  margin-top: 2px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  height: 32px;
}

.drawerContainer > h6 > a > svg {
  width: 112px;
  height: 26px;
  margin-top: 0.22em;
}

.drawerContainer > ul > a > li > div {
  text-align: left;
  margin: 0px 20px;
  padding: 14px 0px 14px 0px;
  border-bottom: 1px solid #222531;
}

.drawerContainer > ul {
  padding: 0;
}

.drawerItem > span {
  font-size: 1rem;
  font-weight: 500;
}

.openDrawer {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
}

.openDrawer > button {
  padding: 4px 0px 5px 0px;
  margin-left: 0px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  height: 32px;
}

.openDrawer > a > svg {
  width: 112px;
  height: 26px;
  margin-top: 0.14rem;
}

.activeLink > button {
  color: #47b5ff;
  font-size: 1rem;
  text-transform: capitalize;
}

.activeLink > button:hover {
  background-color: transparent;
}

.inActiveLink > button {
  color: white;
  font-size: 1rem;
  text-transform: capitalize;
}

.inActiveLink > button:hover {
  color: #c4ddff;
  background-color: transparent;
}

.drawerActiveLink > span {
  font-size: 1rem;
  font-weight: bold;
  color: #47b5ff;
}

.drawerInActiveLink > span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1300px) {
  .navContainer {
    width: 919px;
  }
}

@media screen and (max-width: 1024px) {
  .navContainer {
    width: 709px;
  }
}

@media screen and (max-width: 780px) {
  .navContainer {
    width: 529px;
  }
}

@media screen and (max-width: 620px) {
  .navContainer {
    width: 100%;
    margin-left: 18px;
  }
}

@media screen and (max-width: 599px) {
  .navbar > nav:nth-of-type(1) {
    height: 56px;
  }
}
