.navContainer {
  width: 1104px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}

.drawerContainer {
  color: white;
  padding: 0;
}

.drawerContainer > ul {
  padding: 0;
}

.drawerItem > span {
  font-size: 14px;
  font-weight: 500;
}

.openDrawer {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 20px;
}

.activeLink > button {
  color: #47b5ff;
}

.activeLink > button:hover {
  background-color: transparent;
}

.inActiveLink > button {
  color: white;
}

.inActiveLink > button:hover {
  color: #47b5ff;
  background-color: transparent;
}

.drawerActiveLink > span {
  font-size: 14px;
  font-weight: bold;
  color: #47b5ff;
}

.drawerInActiveLink > span {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1300px) {
  .navContainer {
    width: 919px;
  }
}

@media screen and (max-width: 1024px) {
  .navContainer {
    width: 709px;
  }
}

@media screen and (max-width: 780px) {
  .navContainer {
    width: 529px;
  }
}

@media screen and (max-width: 620px) {
  .navContainer {
    width: 100%;
    margin-left: 18px;
  }
}
